<div class="bg-gray" style="min-height: 100vh">
    <div class="banner row mx-0 justify-content-center">
        <div class="col-12 col-md-9 my-2 my-md-2 text-white d-flex align-items-center">
            <div>
                <div class="d-inline-block siteName">
                    <span class="font-weight-bold">ISU</span><span class="font-weight-lighter">Corp</span>
                </div>
                <div class="d-inline-block ml-4 mobile-hidden siteSlogan">
                    World Class<br>Software Development
                </div>
            </div>
            <div class="flex-grow-1 text-right mobile-hidden" *ngIf="path | async as currentPath">
                <button class="btn btn-banner" *ngIf="(currentPath == 'client-list')"
                        routerLink="/reservations">
                    <fa-icon [icon]="icList" class="mr-2"></fa-icon>
                    <span>Reservations</span>
                </button>
                <button class="btn btn-banner mr-3" *ngIf="currentPath == 'reservation-list'" routerLink="/clients/list">
                    <fa-icon [icon]="icList" class="mr-2"></fa-icon>
                    <span>Clients</span>
                </button>
            </div>
            <div class="flex-grow-1 text-right mobile-only" *ngIf="path | async as currentPath">
                <button class="btn btn-banner" *ngIf="(currentPath == 'reservation-edit')"
                        routerLink="/reservations">
                    <fa-icon [icon]="icList" class="mr-2"></fa-icon>
                    <span>Reservations</span>

                </button>
                <button class="btn btn-banner mr-3" *ngIf="currentPath == 'reservation-list'" routerLink="/clients/list">
                    <fa-icon [icon]="icList" class="mr-2"></fa-icon>
                    <span>Clients</span>
                </button>
                <button class="btn btn-banner" *ngIf="currentPath == 'reservation-list'" routerLink="/clients/create">
                    <fa-icon [icon]="icAdd" class="mr-2"></fa-icon>
                    <span>Create</span>
                </button>
                <button class="btn btn-banner mr-3" *ngIf="currentPath == 'client-list'" routerLink="/reservations/list">
                    <fa-icon [icon]="icList" class="mr-2"></fa-icon>
                    <span>Reservations</span>
                </button>
                <button class="btn btn-banner" *ngIf="currentPath == 'client-list'" routerLink="/clients/create">
                    <fa-icon [icon]="icAdd" class="mr-2"></fa-icon>
                    <span>Create</span>
                </button>

            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
