.table-striped tbody tr:nth-of-type(odd) {
  background-color:  var(--odd-gray);
}
.table-striped tbody tr:nth-of-type(even) {
  background-color:  var(--even-gray);
}

table {
  color: var(--text-gray);
}

tr {
  border-top: 3px solid white;
}

.table td {
  vertical-align:  middle;
}


